<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false">
    <testsuites>
        <testsuite name="Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <!-- <logging>
        <log type="coverage-html" target="./tests/logs/code-coverage" charset="UTF-8"
            highlight="true" lowerUpperBound="20" higherLowerBound="30"/>
        <log type="testdox-html" target="./tests/logs/testdox-html"/>
    </logging> -->
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
